.car-bg{
    background-color: #FEEAE9;
    border-radius:10px;
}
.container{
    margin-bottom: 60px;
}
.buy-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    
    padding: 9px 25px;
    cursor: pointer;
}
.carousel-item{
    padding: 20px 40px;
}
.priceing{
    color: #FF136F;
}